#### STRINGS

In [ ]:
# "Strings in python are surrounded by either single quotation marks, or double quotation marks."

# 'hello' is the same as "hello"

Assigning a string 'Chima Ihueze' to the variable name

In [ ]:
name = "Chima Ihueze"

In [ ]:
name2 = 'Chima Ihueze'

Single or double quotation is what differentiates a number written as a string from a number that has the data type int

In [ ]:
num = '10'

The function type() is used to determine the data type of a variable. There are three data types talked about in this lesson - string, float and int

In [ ]:
type(num)

str

In [ ]:
num2 = '10.2'

In [ ]:
type(name)

str

Triple quotations can also be used to signify a string. The error that occurred was because the variable wasn't in a line

In [ ]:
a = """Chima Ihueze"""

In [ ]:
type(a)

str

In [ ]:
name = "Chima Ihueze"

In [ ]:
print(name)

Chima Ihueze

In [ ]:
"My name is Chima Ihueze"

'My name is Chima Ihueze'

In [ ]:
# assign a string to a variable
name = "Chima Ihueze"
type(name)

str

In [ ]:
anthem = """
Arise, O compatriots, Nigeria's call obey
To serve our fatherland
With love and strength and faith
The labour of our heroes past
Shall never be in vain
To serve with heart and might
One nation bound in freedom, peace and unity."""

type(anthem)

str

In [ ]:
print(anthem)

Arise, O compatriots, Nigeria's call obey
To serve our fatherland
With love and strength and faith
The labour of our heroes past
Shall never be in vain
To serve with heart and might
One nation bound in freedom, peace and unity.

Using double quotes in the event you are trying to quote what was said as a string like the first example - "Chima said: "I am a boy"." will lead to syntax error. Best bet, use the example below

In [ ]:
b = 'Chima said: "I am a boy".'

In [ ]:
print(b)

Chima said: "I am a boy"

In the event an apostrophe has to be used in a string, the string should be in double quotations and not single quotation. Failure to do this will lead to syntax error

In [ ]:
c = "Chima's laptop"
print(c)

Chima's laptop

In [ ]:
# What if my string has an apostrophe?

withApostrophe = "This is Regan's University Certificate"

print(withApostrophe)

# OR

withApostrophe = 'Michael said, and I quote: "Do not litter this place".'

# Note that what we did reassigned the variable - withApostrophe.

print(withApostrophe)

This is Regan's University Certificate
Michael said, and I quote: "Do not litter this place".

# Properties of Strings

### The Length of a String
The length of a string can be found using the len() built-in function. 
This length indicates the number of characters in the string:

In [ ]:
len(name)

12

The example above was used to illustrate showing the length of the variable name which was created

In [ ]:
name = "Chima Ihueze"
len(name)

12

### Indexing
In a string, every character is given a numerical index based on its position.
A string in Python is indexed from '0' to 'n-1' where 'n' is its length. 
This means that the index of the first character in a string is 0.

This showed the position of the first letter counting from left to right which was C

In [ ]:
name[0]

'C'

Showed the position of the third letter counting from left to right which was i

In [ ]:
name[2]

'i'

This showed the position of the first letter counting from the right to the left which was e

In [ ]:
name[-1]

'e'

This showed the position of the fourth letter counting from right to left which was u

In [ ]:
name[-4]

'u'

In [ ]:
name[0]

'C'

In [ ]:
name[-1]

'e'

### String Slicing

String slicing in python means to obtain a sub-string from a given string

The string name was sliced from the first letter which was in position 0 to the fifth letter which was in position 5 to obtain the sub-string 'Chima'

In [ ]:
name[0:5]

'Chima'

The string name was sliced from the first letter which was in position 0 to the fourth letter which was in position 4 to obtain the sub-string 'Chim'

In [ ]:
name[0:4]

'Chim'

The string name was sliced from the second letter which was in position 1 from left to right, to the third letter from right to left, omitting the last two letters to obtain the sub-string 'hima Ihue'

In [ ]:
name[1:-2]

'hima Ihue'

The string name was sliced from the second letter from left to right to the second letter from right to left in thcrements of two to obtain the sub-string 'hm he'. This can be summarized as => [start:end:increment/step]

In [ ]:
name[1:-2:2]

'hm he'

In [ ]:
num[1:-1]

'23456789034578689'

In [ ]:
num[1:-1:3]

'258378'

The string name starting from the first letter which was in position 0 to the rest of the string

In [ ]:
name[0:]

'Chima Ihueze'

The string num starting from the number in the fourth position

In [ ]:
num[4:]

'567890345786890'

In [ ]:
name = "Chima Ihueze"

In [ ]:
name[0:]

'Chima Ihueze'

The code below shows the length of the variable from the letter in position 0 to the rest by spelling out the variable

In [ ]:
name[0:len(name)]

'Chima Ihueze'

In [ ]:
num = "1234567890345786890"

In [ ]:
num[0:]

'1234567890345786890'

'1357935880'

In [ ]:
name[1:5]

'hima'

In [ ]:
name[2:-2]

'ima Ihue'

In [ ]:
name[-6:-1]

'Ihuez'

The code below shows the length of the variable from the letter in position -6 from right to left to the rest by spelling out the variable within this range

In [ ]:
name[-6:len(name)]

'Ihueze'

### Slicing with a Step

Until now, we’ve used slicing to obtain a contiguous piece of a string, i.e., all the characters from the starting index to before the ending index are retrieved.

However, we can define a step through which we can skip characters in the string. The default step is 1, so we iterate through the string one character at a time.

The step is defined after the end index:

In [ ]:
name[0:-1:2]

'CiaIuz'

The code below shows the length of the variable from the letter in position 0 to the rest with an increment or step of 2 by spelling out the variable

In [ ]:
name[0:len(name):2]

'CiaIuz'

### Partial Slicing 
One thing to note is that specifying the start and end indices is optional.

If start is not provided, the substring will have all the characters until the end index.

If end is not provided, the substring will begin from the start index and go all the way to the end.

In [ ]:
name[0:]

'Chima Ihueze'

In [ ]:
# Concatenation

Addition of two integers

In [ ]:
1 + 1

2

Addition of two strings. The output is different from the output above as additional operations cannot be carried out in a string in the same way it would in an integer

In [ ]:
"1" + "1"

'11'

In [ ]:
10 + 10

20

In [ ]:
"10" + "10"

'1010'

In [ ]:
fname = "Chima"
lname = "Ihueze"

The code below outputs the two variables without spacing between them, showing them as one word instead of two.

In [ ]:
fname + lname

'ChimaIhueze'

To remedy the above output, a spacing has to be added using a double quote in the concatenation

The code below outputs the two variables with a space between them to create two words

In [ ]:
fname + " " + lname

'Chima Ihueze'

The code below shows the multiplication of two integers

In [ ]:
10 * 20

200

The code below does not multiply the numbers like it would in the case of two integers, rather it would output the string repeatedly 20 times

In [ ]:
"10" * 20

'1010101010101010101010101010101010101010'

# Immutability

In [ ]:
# List

num = [1, 2, 3, 4, 5]

In [ ]:
num

[1, 2, 3, 4, 5]

In [ ]:
num[2] = 10

This code reassigns the integer in the third position from 3 to 10

In [ ]:
num

[1, 2, 10, 4, 5]

In [ ]:
num[2] = "10"

This code reassigns the integer in the third position from an integer to a string

In [ ]:
num

[1, 2, '10', 4, 5]

In [ ]:
name = "Chima Ihueze"

Once a variable is assigned in a string, it cannot be changed. Hence the TypeError that the code below returns

In [ ]:
name[2] = 't'

TypeError: 'str' object does not support item assignment

# String Methods

Methods in Python are functions that can be referenced using a dot (.)
They are popular and you may come across them very often. Strings have methods as well that can be used to reform or extract some details from the string.

Below are the Methods in Strings:
- capitalise    
- strip
- casefold     
- center   
- count   
- encode   
- endswith  
- expandtabs   
- find    
- format   
- format_map   
- index   
- isalnum   
- isdecimal  
- isdigit   
- isidentifier   
- islower   
- isnumeric   
- isprintable   
- isspace    
- istitle    
- isupper    
- join    
- ljust

However, in all of these there is no need to memorise. When you code and you feel there should be a simpler way of doing a certain thing, then you can check out the documentation of that tool you are working with.

As an example, we will practice some codes later in today's class.

In [ ]:
name = 'Chima Ihueze'

This capitalizes the first word

In [ ]:
name.capitalize()

'Chima ihueze'

In [ ]:
name.capitalize()

'Chima ihueze'

This changes the letters to uppercase

In [ ]:
name.upper()

'CHIMA IHUEZE'

This changes the letters to lowercase

In [ ]:
name.lower()

'chima ihueze'

In [ ]:
name = "Okeke Babalawo"

In [ ]:
name.capitalize()

'Okeke babalawo'

The count() function counts the number of values. In this case, it's outputing the sum of the values a in the variable 'name'

In [ ]:
name.count('a')

3

In [ ]:
# strip

Strip() function removes white spaces

In [ ]:
name = " Chima "

Without the strip() function, there is whitespaces at the beginning and end of the variable

In [ ]:
name

' Chima '

With the strip() function, there is no whitespace at the beginning or end of the variable

In [ ]:
name.strip()

'Chima'

In [ ]:
#capitalize()
#The capitalize() method converts the first character of the string in uppercase and puts all other characters into lowercase.

In [ ]:
fname = "chima"

In [ ]:
fname.capitalize()

'Chima'

In [ ]:
#strip()
#The strip() method removes any whitespaces from the beginning and the end of a string.

In [ ]:
name = " Chima Ihueze "
name.strip()

'Chima Ihueze'

In [ ]:
# upper()
# The upper() method returns the string in upper case.

In [ ]:
name.upper()

' CHIMA IHUEZE '

In [ ]:
# Task 1
# Write an expression that converts all texts to a lower case
text = "Weather Underground provides local & long-range weather forecasts, \
weather reports, maps & tropical weather conditions for locations worldwide."

lowercase_text = text.lower()
lowercase_text

'weather underground provides local & long-range weather forecasts, weather reports, maps & tropical weather conditions for locations worldwide.'

In [ ]:
lowercase_text.islower()  # check if the text is in lower case

True

#### CLASS WORK

1. Write few lines of codes that counts how many words present in the `text` (Hint: Answer = 18)
2. Write few lines of codes that count how many times the word "weather" appeared `text`. (Hint: Answer = 4)

### Type Conversion

When you need to specify or convert a data type, a simple keyword can be used. We will focus on the conversion now and then we will look at the specification in the next class on __Input expression__.

In [ ]:
# float
# integer
# string

In [ ]:
a = 20.5
type(a)

float

In [ ]:
b = 10
type(b)

int

In [ ]:
c = "Man"
type(c)

str

Converts a float to an integer

In [ ]:
int(20.5)

20

Converts an integer to a float

In [ ]:
float(30)

30.0

Converts a float to a string

In [ ]:
str(10.5)

'10.5'

Converts a string to an integer

In [ ]:
int("10")

10

In [ ]:
# What data type is y?
y = "67"
type(y)

In [ ]:
z = int("k")
type(z)

In [ ]:
# int to float

a = 10
float(a)

10.0

In [ ]:
# float to int
b = 10.5
int(b)

10

# Note

The outputs run are in numerical order. If a variable is assigned and run, it follows the numerical order. Calling that variable after it is changed will output the former variable except the new variable is run

### CODE DOCUMENTATION

It is very important that anyone who writes code, to document them. Documentation makes your codes more understandable especially for someone reading them in your absence. Therefore when documenting and naming variables, do so by bearing readers in mind.

All documentations are written with strings.

Documentation can be written in three ways:
- Markdowns: A detailed explanation that narrates one's work process/purpose. (Often used in notebooks and GitHub README)
- Code comment: Very short sentences that describes a code or few code lines.
- DOCSTRINGS: A short sentence or block of sentences that describes the purpose of a function or class. (Don't worry about these terms, we will still learn and implement them)